---
layout: default
title: Mainpage
---
<!-- Content
    ================================================== -->
  <div class="top-strip"></div>
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
    		<section class="content">
    		  <h1>Ipsum List</h1>
    		</section>
    		<ul class="entries">
    		{% for post in paginator.posts %}
    		  <li>
    		    <a href="{{ post.url }}">
                      <span>{{ post.date | date: "%d %B %Y" }}</span>
    		        <h3>{{ post.title }}</h3>
                      <div>{{ post.content |truncatehtml | truncatewords: 30 }}</div>
    		    </a>
    		  </li>
    		{% endfor %}
    		</ul>
    	</div>
      <hr>
      <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>
    </main>
  </div>
